In [2]:
#Task 1 - Fitbit Dataset
'''
1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out '''

"\n1. Read this dataset in pandas , mysql and mongodb \n2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql\n ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql \n3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format\n4 . Find out in this data that how many unique id's we have \n5 . which id is one of the active id that you have in whole dataset \n6 . how many of them have not logged there activity find out in terms of number of ids \n7 . Find out who is the laziest person id that we have in dataset \n8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset \n9. how many person are not a regular person with respect to activity try to find out those \n10 . who is the thired most active person in this dataset find out those in pandas and in sql both . \n11 . who is the 5th most laziest person avilable in dataset find it out \n12 . what is a totla acumulative calories burn for a person find out "

## 1. Read this dataset in pandas , mysql and mongodb

In [54]:
import pandas as pd   # import pandas library

In [147]:
# read the fitbit data.csv in pandas
fitbit_df = pd.read_csv(r"C:\Users\dell\Documents\dataset\FitBitdata.csv")

In [56]:
fitbit_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [57]:
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [58]:
# read the dataset in MongoDB
# 1. convert the dataset into json
# 2. import the json file to mongoDB

fitbit_df.to_json('fitbit.json') # it will keep the default index 
#fitbit_df.to_json('fitbit.json', indent = 'document') it will remove the index

In [59]:
# import pymongo and json
import pymongo 
import json

In [60]:
# establish mongoDB connection 
# 1. establish connection to mongoDB server
#client = pymongo.MongoClient("mongodb+srv://susant:susant123@cluster0.8beoc.mongodb.net/?retryWrites=true&w=majority") 
# 2. establish connection to mongo compass
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [61]:
#create database and table in mongoDB
ineuron_db = client['ineuron']
fitbit = ineuron_db['fitbit_table']

In [62]:
# open fitbit.json file
fitbit_fp = open("fitbit.json", 'r')
fitbit_fp1 = json.load(fitbit_fp)
fitbit_fp2 = [fitbit_fp1]

# insert into mongo compass
fitbit.insert_many(fitbit_fp2)

## 2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql. 

## hint - use csvkit library to automate this task and to load a data in bulk in you mysql

In [63]:
# import csvkit library for bulk upload
import csvkit cs
import mysql.connector as con

In [64]:
# Bulk upload to mysql
# create a database in sql and then do bulk load, here database is - ineuron
!csvsql --db mysql://root:susant123@localhost:3306/ineuron --insert FitBitdata.csv

C:\Users\dell\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
C:\Users\dell\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
OperationalError: (MySQLdb.OperationalError) (1050, "Table 'fitbitdata' already exists")
[SQL:
CREATE TABLE `FitBitdata` (
	`Id` DECIMAL(38, 0) NOT NULL,
	`ActivityDate` DATE NOT NULL,
	`TotalSteps` DECIMAL(38, 0) NOT NULL,
	`TotalDistance` DECIMAL(38, 17) NOT NULL,
	`TrackerDistance` DECIMAL(38, 17) NOT NULL,
	`LoggedActivitiesDistance` DECIMAL(38, 15) NOT NULL,
	`VeryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`ModeratelyActiveDistance` DECIMAL(38, 16) NOT NULL,
	`LightActiveDistance` DECIMAL(38, 17) NOT NULL,
	`SedentaryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`VeryActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`FairlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`LightlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`SedentaryMinutes` DECIMAL(38, 0) NOT NULL,
	`Calories` DECIMAL(38, 0) NOT NULL
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
C:\Users\dell\anaconda3\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedWriter name=6>
C:\Users\dell\anaconda3\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedReader name=7>
C:\Users\dell\anaconda3\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedReader name=8>

In [65]:
# query to bulk upload to mysql btabase, user -root, password = susant123, database = ineuron, dataset = fitbitdata.csv
"""
!csvsql --db mysql://root:susant123@localhost:3306/ineuron --insert FitBitdata.csv
"""

'\n!csvsql --db mysql://root:susant123@localhost:3306/ineuron --insert FitBitdata.csv\n'

In [152]:
# another way to bulk upload the dataset # database already created that is ineuron

from sqlalchemy import create_engine as ce
engine = ce('mysql://root:susant123@localhost:3306/ineuron')

# load the entire csv file to mysql
fitbit_df.to_sql('fitbit_table', engine)   # it will create a table and import the data

## 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [76]:
fitbit_df.dtypes   # check the datypes

Id                                   int64
ActivityDate                        object
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
New_ActivityDate            datetime64[ns]
dtype: object

In [78]:
fitbit_df['ActivityDate'] = pd.to_datetime(fitbit_df['ActivityDate'])

In [157]:
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [80]:
fitbit_df.dtypes  # activitydate dtypes changes to date format

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
New_ActivityDate            datetime64[ns]
dtype: object

## 4 . Find out in this data that how many unique id's we have

In [154]:
fitbit_df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [153]:
len(fitbit_df['Id'].unique())

35

## 5 . which id is one of the active id that you have in whole dataset

In [88]:
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,New_ActivityDate
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29

In [91]:
fitbit_df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False).head()

Id
8053475328    933
5577150313    900
8877689391    802
1503960366    681
8378563200    665
Name: VeryActiveMinutes, dtype: int64

In [92]:
fitbit_df.groupby('Id')['VeryActiveMinutes'].sum().idxmax()  # another way to calculate

8053475328

## 6 . how many of them have not logged there activity find out in terms of number of ids

In [96]:
fitbit_df[['Id','LoggedActivitiesDistance']]

             Id  LoggedActivitiesDistance
0    1503960366                       0.0
1    1503960366                       0.0
2    1503960366                       0.0
3    1503960366                       0.0
4    1503960366                       0.0
..          ...                       ...
452  8877689391                       0.0
453  8877689391                       0.0
454  8877689391                       0.0
455  8877689391                       0.0
456  8877689391                       0.0

[457 rows x 2 columns]

In [100]:
fitbit_df.groupby('Id')['LoggedActivitiesDistance'].sum()<1

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [102]:
fitbit_df.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x<1)

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [103]:
fitbit_df.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x<1).value_counts()

True     30
False     5
Name: LoggedActivitiesDistance, dtype: int64

## 7 . Find out who is the laziest person id that we have in dataset

In [104]:
fitbit_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,New_ActivityDate
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12

In [106]:
fitbit_df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

In [110]:
fitbit_df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

## 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset , lets assume 2200/per day

In [111]:
fitbit_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,New_ActivityDate
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12

In [113]:
fitbit_df.groupby('Id')['Calories'].sum().apply(lambda x:x>2200*7).value_counts()

True     34
False     1
Name: Calories, dtype: int64

## 9. how many person are not a regular person with respect to activity try to find out those

In [118]:
fitbit_df[fitbit_df['TotalSteps'] == 0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,New_ActivityDate
51,1844505072,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347,2016-04-04
52,1844505072,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347,2016-04-05
59,1844505072,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399,2016-04-12
96,2320127002,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324,2016-04-01
97,2320127002,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324,2016-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,2016-04-02
403,8253242879,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,2016-04-03
404,8253242879,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,2016-04-04
405,8253242879,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,2016-04-05
412,8253242879,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0,2016-04-12

## 10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [149]:
fitbit_df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)

Id
8053475328    933
5577150313    900
8877689391    802
1503960366    681
8378563200    665
7007744171    536
6962181067    495
2022484408    481
7086361926    315
5553957443    283
6775888955    179
2347167796    177
1644430081    148
3977333714    146
4020332650    130
3372868164    118
4319703577     79
6290855005     78
4445114986     76
8253242879     70
2873212765     61
4558609924     52
6391747486     46
4702921684     44
4057192912     40
8792009665     18
1624580081     14
2320127002     11
1844505072      9
6117666160      5
8583815059      5
4388161847      0
2891001357      0
2026352035      0
1927972279      0
Name: VeryActiveMinutes, dtype: int64

In [143]:
fitbit_df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

## 11 . who is the 5th most laziest person avilable in dataset find it out

In [145]:
fitbit_df.groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending=False)

Id
4057192912    43458
4020332650    34663
1624580081    24288
8253242879    16228
1503960366    15387
2320127002    14991
2873212765    13643
4558609924    13024
4445114986    12921
6290855005    12896
2022484408    12707
8877689391    12554
1844505072    12424
8053475328    12259
7007744171    12008
1927972279    11435
6391747486    11357
4388161847    11074
4702921684    10901
3372868164    10851
8792009665    10723
7086361926    10666
1644430081    10342
2347167796    10258
8583815059    10094
4319703577     9361
6775888955     9161
2891001357     8799
6117666160     8641
3977333714     8505
6962181067     8488
8378563200     8210
2026352035     7910
5577150313     7324
5553957443     7293
Name: SedentaryMinutes, dtype: int64

In [146]:
fitbit_df.groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending=False)[4:5]

Id
1503960366    15387
Name: SedentaryMinutes, dtype: int64

## 12 . what is a totla acumulative calories burn for a person find out

In [128]:
fitbit_df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64